li.owner, li.group, li.object {
  list-style-type: none;
  list-style-position: outside;
  line-height: 13pt;
  font-size: 12pt;
  padding-left: 0px;
}

li.owner>img, li.group>img {
  margin-top: 2pt;
  float: left;
  cursor: pointer;
  position: relative;
  margin-left: -12pt;
}

li.object {
  font-style: italic;
}
li.owner {
  font-style: italic;
}
li.group {
  font-style: normal;
  font-size: 12pt;
}

.list>ul{
  padding-left: 12pt;
}

/*
li[data-online]:before {
  content: url('/img/online.png');
}
li[data-online='0']:before {
  content: url('/img/offline.png');
}
*/
div[group], div[owner], div[object] {
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  display: inline;
  cursor: pointer;
}

li>div[group], li>div[owner], li>div[object] {
	white-space: nowrap;
}

div.group.active {
  background-color: #0a6;
}
div.group.active.hover {
  background-color: #0fa;
}
div.owner.active {
  background-color: #6a0;
}
div.owner.active.hover {
  background-color: #af0;
}

.hidden {
  display: none;
}

body {
	font-family: 'Conv_AGLETCR', 'helvetica';
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 10px;
}

div.objects-list {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	float: left;
	overflow: auto;
	border: 1px solid black;
}

div[ng-controller=mapscope] {
	position: absolute;
	top: 0px;
	bottom:0px;
	left: 301px;
	right: 0px;
	float: left;
	border: 1px solid black;
}

div[leaflet] {
	position: absolute;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	float: left;
}
