body {
	font-family: 'Conv_AGLETCR','Helvetica Neue',Helvetica,Arial,sans-serif;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 8px;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

li[owner], li[group], li[object] {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0px;
}

li[owner]>img, li[group]>img {
  margin-top: 2pt;
  float: left;
  cursor: pointer;
  position: relative;
  margin-left: -12pt;
}

li.object {
  font-style: italic;
}
li.owner {
  font-style: italic;
}
li.group {
  font-style: normal;
  font-size: 12pt;
}

[list]>ul{
  padding-left: 12pt;
}

/*
li[data-online]:before {
  content: url('/img/online.png');
}
li[data-online='0']:before {
  content: url('/img/offline.png');
}
*/
div.context-menu {
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  display: inline;
  cursor: pointer;
  padding: 0 5px;
  margin-left: -5px;
}

li>div[group], li>div[owner], li>div[object] {
	white-space: nowrap;
}

div.group.active {
  background-color: #0a6;
}
div.group.active.hover {
  background-color: #0fa;
}
div.owner.active {
  background-color: #6a0;
}
div.owner.active.hover {
  background-color: #af0;
}

.hidden {
  display: none;
}

input[datepicker-popup] {
  width: 80px;
  padding: 1px;
}

input.timepicker {
  width: 25px;
  padding: 1px;
}

.nav-tabs {
  margin-bottom: 16px;
}

div.edit.object input, div.edit.object select  {
  margin-left: 32px;
  width: 200px;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal button.close {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
}

ul[ng-controller='menu'] {
  margin: 0px;
  padding: 0px;
}

ul[ng-controller='menu'] li {
  cursor: pointer;
  display: inline;
}

image.track.point {
  opacity: 0.7;
}

image.track.point.pointed {
  opacity: 1;
}

.modal td {
  padding: 5px;
}

.modal tr td:first-child {
  text-align: right;
}

ul.nav-tabs li {
  cursor: pointer;
}

.btn-group>.btn {
  float: none;
}

li[list]>.selected {
  background-color: cyan;
}

[sk-selected] table {
  border: 0px solid black;
  width: 290px;
}

[sk-selected] table tr.even-true {
  background-color: #eee;
}

g .object, .track.point {
  stroke-width: 1;
  stroke: #070;
  fill: #3c2;
}
