%% vim: ft=erlang
{deps_dir, "lib"}.

{deps, [
        {logger, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{hooks, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{bullet, ".*", {git, "https://github.com/extend/bullet", "HEAD"}}
        ,{mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes", "HEAD"}}
        ,{'_', ".*", {git, "https://github.com/koctep/_", "HEAD"}}
       ]}.
