%% vim: ft=erlang
{deps_dir, "lib"}.

{deps, [
        {logger, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{hooks, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{cowboy, ".*", {git, env, "HEAD"}}
        ,{mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes", "HEAD"}}
       ]}.

{pre_hooks, [
              {'get-deps', "$PWD/rebar.hooks/pre-get-deps.sh"}
              ,{'update-deps', "$PWD/rebar.hooks/pre-update-deps.sh"}

              ,{'get-deps', "$PWD/rebar.hooks/leaflet.sh"}
              ,{'update-deps', "$PWD/rebar.hooks/leaflet.sh"}
             ]}.
