<!DOCTYPE html>
<html ng-app='skuapso'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/jQuery-contextMenu/src/jquery.contextMenu.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/skuapso.css" />
  <title>S.K.U.A.P.S.O.</title>
</head>
<body>
  <menu type='context' id='owner'>
    <command label='Переименовать' data-action='edit_title'>
  </menu>
  <menu type='context' id='group'>
    <command label='Переименовать' data-action='edit_title'>
  </menu>
  <menu type='context' id='object'>
    <menu label='Редактировать'>
      <command label='Все' data-action='edit'>
      <command label='Гос. номер' data-action='edit_no'>
      <command label='Модель' data-action='edit_model_id'>
      <command label='Терминал' data-action='edit_terminal_id'>
    </menu>
    <command label='Трек' data-action='show_track'>
  </menu>

  <div sk-if='loaded'>
    <div ng-controller='management'>
      <span>
        <input ng-model='fromDateTime' data-max-date='{{toDateTime}}' bs-datepicker type='text'>
        <input ng-model='fromDateTime' bs-timepicker type='text'>
      </span>
      &gt;&gt;
      <span>
        <input ng-model='toDateTime' data-min-date='{{fromDateTime}}' bs-datepicker type='text'>
        <input ng-model='toDateTime' bs-timepicker type='text'>
      </span>
      <span>
        &nbsp;<input type='checkbox' ng-model='sensor'>&nbsp;Датчик&nbsp;
      </span>
    </div>
    <div class='objects-list' ng-controller='listRoot'>
      <p>Русский текст</p>
      <a href='#' ng-click='test()'>Добавить</a>&nbsp;
      <a href='#' ng-click='rename()'>Переименовать</a>&nbsp;
      <input type='text' ng-model='itemFilter'><br>
      <div list='owner'></div>
    </div>

    <div skuapso-map>
    </div>
  </div>

  <script type='text/javascript' src='/static/js/lib/jquery/dist/jquery.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular/angular.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-animate/angular-animate.js'></script>
  <script type='text/javascript' src='/static/js/lib/bootstrap/dist/js/bootstrap.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-strap/dist/angular-strap.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-strap/dist/angular-strap.tpl.js'></script>
  <script type='text/javascript' src='/static/js/lib/lodash/dist/lodash.js'></script>
  <script type='text/javascript' src='/static/js/lib/restangular/dist/restangular.js'></script>
  <script type='text/javascript' src='/static/js/lib/leaflet/dist/leaflet-src.js'></script>
  <script type='text/javascript' src='/static/js/lib/jQuery-contextMenu/src/jquery.contextMenu.js'>
  </script>
  <script type='text/javascript' src='/static/js/lib/jQuery-contextMenu/src/jquery.ui.position.js'>
  </script>

  <script type='text/javascript' src='/static/js/classes.js'></script>
  <script type='text/javascript' src='/static/js/out.js'></script>
  <script type='text/javascript' src='/static/js/map.js'></script>
  <script type='text/javascript' src='/static/js/locale.js'></script>

  <script type='text/javascript' src='/static/js/skuapso.js'></script>
  <script type='text/javascript' src='/static/js/tree.js'></script>

  <script type='text/javascript' src='/static/js/test.js'></script>
</body>
</html>
