<!DOCTYPE html>
<html ng-app='skuapso'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/jQuery-contextMenu/src/jquery.contextMenu.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/js/lib/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/skuapso.css" />
  <title>S.K.U.A.P.S.O.</title>
</head>
<body>
  <menu type='context' id='group'>
    <command label='Редактировать' data-action='edit'>
    <command label='Добавить подгруппу' data-action='add_sub'>
    <command label='Добавить ТС' data-action='add_object'>
  </menu>
  <menu type='context' id='object'>
    <command label='Редактировать' data-action='edit'>
    <command label='Трек' data-action='track'>
  </menu>

  <div sk-if='loaded'>
    <ul ng-controller='menu'>
      <li ng-click='editUsers()'>Редактировать пользователей</li>
    </ul>
    <div ng-controller='management'>
      <span>
        <input datepicker-popup type='text'
          ng-model='controls.fromDateTime'
          data-max='{{controls.toDateTime}}'>
        <i class='glyphicon glyphicon-calendar'></i>
        &nbsp;
        <timepicker ng-model='controls.fromDateTime' class='timepicker'>
      </span>
      <i class='glyphicon glyphicon-share-alt'></i>
      <span>
        <input datepicker-popup type='text'
          ng-model='controls.toDateTime'
          data-min='{{controls.fromDateTime}}'>
        <i class='glyphicon glyphicon-calendar'></i>
        &nbsp;
        <timepicker ng-model='controls.toDateTime' class='timepicker'>
      </span>
      <span>
        &nbsp;<input type='checkbox' ng-model='controls.sensor'>&nbsp;Датчик&nbsp;
      </span>
    </div>
    <div class='objects-list'>
      <br><input type='text' ng-model='itemFilter'><br>
      <div list></div>
    </div>

    <div skuapso-map>
    </div>
  </div>

  <script type='text/javascript' src='/static/js/lib/jquery/dist/jquery.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular/angular.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script type='text/javascript' src='/static/js/lib/leaflet/dist/leaflet-src.js'></script>
  <script type='text/javascript' src='/static/js/lib/jQuery-contextMenu/src/jquery.contextMenu.js'>
  </script>
  <script type='text/javascript' src='/static/js/lib/jQuery-contextMenu/src/jquery.ui.position.js'>
  </script>
  <script type='text/javascript' src='/static/js/lib/bert.js/bert.js'></script>
  <script type='text/javascript' src='/bullet.js'></script>

  <script type='text/javascript' src='/static/js/locale.js'></script>
  <script type='text/javascript' src='/static/js/skuapso.js'></script>
  <script type='text/javascript' src='/static/js/map.js'></script>

  <script type='text/javascript' src='/static/js/isolated-scope.js'></script>
  <script type='text/javascript' src='/static/js/bullet.js'></script>
  <script type='text/javascript' src='/static/js/init.js'></script>
  <script type='text/javascript' src='/static/js/object.js'></script>
  <script type='text/javascript' src='/static/js/object-model.js'></script>
  <script type='text/javascript' src='/static/js/group.js'></script>
  <script type='text/javascript' src='/static/js/specialization.js'></script>
  <script type='text/javascript' src='/static/js/terminal.js'></script>

  <script type='text/javascript' src='/static/js/tree.js'></script>

  <script type='text/javascript' src='/static/js/out.js'></script>
  <script type='text/javascript' src='/static/js/test.js'></script>
</body>
</html>
