<!DOCTYPE html>
<html ng-app='skuapso'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.contextMenu.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/skuapso.css" />
  <title>S.K.U.A.P.S.O.</title>
</head>
<body style='display: none'>
  <menu type='context' id='owner'>
    <command label='Переименовать' data-action='edit_title'>
  </menu>
  <menu type='context' id='group'>
    <command label='Переименовать' data-action='edit_title'>
  </menu>
  <menu type='context' id='object'>
    <menu label='Редактировать'>
      <command label='Все' data-action='edit'>
      <command label='Гос. номер' data-action='edit_no'>
      <command label='Модель' data-action='edit_model_id'>
      <command label='Терминал' data-action='edit_terminal_id'>
    </menu>
    <command label='Трек' data-action='show_track'>
  </menu>

  <div management>
    <span>
      <input ng-model='fromDateTime' data-max-date='{{toDateTime}}' bs-datepicker type='text'>
      <input ng-model='fromDateTime' bs-timepicker type='text'>
    </span>
    &gt;&gt;
    <span>
      <input ng-model='toDateTime' data-min-date='{{fromDateTime}}' bs-datepicker type='text'>
      <input ng-model='toDateTime' bs-timepicker type='text'>
    </span>
    <span>
      &nbsp;<input type='checkbox' ng-model='sensor'>&nbsp;Датчик&nbsp;
    </span>
  </div>
  <div class='objects-list'>
    <p>Русский текст</p>
    <a href='#' ng-click='test()'>Добавить</a>&nbsp;
    <a href='#' ng-click='rename()'>Переименовать</a>&nbsp;
    <input type='text' ng-model='itemFilter'><br>
    <div list='owner'></div>
  </div>

  <div id='map'>
  </div>

  <script type='text/javascript' src='/static/js/lib/jquery.js'></script>
  <script type='text/javascript' src='/static/js/lib/jquery-ui.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular.js'></script>
  <script type='text/javascript' src='/static/js/lib/bootstrap.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-strap.js'></script>
  <script type='text/javascript' src='/static/js/lib/leaflet.js'></script>
  <!-- <script src='/static/js/lib/bullet.js' type='text/javascript'></script> -->
  <script type='text/javascript' src='/static/js/lib/jquery.contextMenu.js'></script>
  <script type='text/javascript' src='/static/js/lib/jquery.ui.position.js'></script>
  <script type='text/javascript' src='/static/js/locale.js'></script>
  <script type='text/javascript' src='/static/js/skuapso.js'></script>
  <script type='text/javascript' src='/static/js/test.js'></script>
</body>
</html>
