<form>
  <div class="modal-header">
    Редактирование транспортного средства<br>
    <b>{{object.title}}</b>
    <button type="button" class="close" ng-click="cancel()">
      <i class='glyphicon glyphicon-remove'></i>
    </button>
  </div>
  <div class="modal-body">
    <tabset>
      <tab heading='Общее'>
        <table class='tab-pane active' id='common'>
          <tr>
            <td>Гос. номер</td>
            <td><input ng-model='object.no'></td>
          </tr>
          <tr>
            <td>Модель</td>
            <td>
              <input ng-model='object.model_id'></td>
          </tr>
          <tr>
            <td>Специализация</td>
            <td><input ng-model='object.specialization_id'></td>
          </tr>
          <tr>
            <td>Группа</td>
            <td>
              <select ng-model='object.group'
                ng-options='group.title for (id,group) in groups'>
              </select>
          </tr>
          <tr>
            <td>Навигационный терминал</td>
            <td><input ng-model='object.terminal_id'></td>
          </tr>
        </table>
      </tab>
      <tab heading='Датчики'>
        <div class='tab-content'>
          <div class='tab-pane' id='sensors'>
            Здесь должны быть датчики
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="modal-footer">
    <button type='button' class='btn btn-primary' ng-click="save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</form>
