<div class="modal-header">
  {{header}}<br>
  <b>{{title}}</b>
  <button type="button" class="close" ng-click="cancel()" ng-disabled='disabled'>
    <i class='glyphicon glyphicon-remove'></i>
  </button>
</div>
<div class="modal-body">
  <tabset>
    <tab heading='Общее'>
      <table>
        <tr>
          <td>Название</td>
          <td><input type='text' ng-model='modal.title' ng-disabled='disabled'></td>
        </tr>
        <tr>
          <td>Родительская группа</td>
          <td>
            <div class="btn-group" dropdown>
              <input
                 ng-disabled='disabled'
                 ng-model='modal.parent_group'
                 typeahead-wait-ms=250
                 typeahead-editable=false
                 typeahead-input-formatter='typeaheadTitle("parent_group")'
                 typeahead-template-url='/static/tpl/skuapso/typeahead.title.tpl.html'
                 typeahead='i for i in data.groups | toArray | filter:{title:$viewValue}'
               >
               <button type="button" class="btn btn-danger dropdown-toggle">
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
               </ul>
            </div>
          </td>
        </tr>
      </table>
    </tab>
    <tab heading='Репликация'>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type='button' class='btn btn-primary'
    ng-click="save()" ng-disabled='!diff() || disabled'>{{button.save}}</button>
  <button type="button" class="btn btn-default"
    ng-click="cancel()" ng-disabled='disabled'>{{button.close}}</button>
</div>
