<div class="modal-header">
  {{header}}<br>
  <b>{{title}}</b>
  <button type="button" class="close" ng-click="cancel()" ng-disabled='disabled'>
    <i class='glyphicon glyphicon-remove'></i>
  </button>
</div>
<div class="modal-body">
  <tabset>
    <tab heading='Общее'>
      <table>
        <tr>
          <td>Гос. номер</td>
          <td><input ng-model='modal.no' ng-disabled='disabled'></td>
        </tr>
        <tr>
          <td>Модель</td>
          <td>
            <input
              ng-disabled='disabled'
              ng-model='modal.model'
              typeahead-wait-ms=250
              typeahead-editable=false
              typeahead-input-formatter='typeaheadTitle("model")'
              typeahead-template-url='/static/tpl/skuapso/typeahead.title.tpl.html'
              typeahead='i for i in data.object_models | toArray | filter:{title:$viewValue}'
            >
          </td>
        </tr>
        <tr>
          <td>Специализация</td>
          <td>
            <input
              ng-disabled='disabled'
              ng-model='modal.specialization'
              typeahead-wait-ms=250
              typeahead-editable=false
              typeahead-input-formatter='typeaheadTitle("specialization")'
              typeahead-template-url='/static/tpl/skuapso/typeahead.title.tpl.html'
              typeahead='i for i in data.specializations | toArray | filter:{title:$viewValue}'
            >
          </td>
        </tr>
        <tr>
          <td>Группа</td>
          <td>
            <input
              ng-disabled='disabled'
              ng-model='modal.group'
              typeahead-wait-ms=250
              typeahead-editable=false
              typeahead-input-formatter='typeaheadTitle("group")'
              typeahead-template-url='/static/tpl/skuapso/typeahead.title.tpl.html'
              typeahead='i for i in data.groups | toArray | filter:{title:$viewValue}'
            >
          </td>
        </tr>
        <tr>
          <td>Навигационный терминал</td>
          <td>
            <input
              ng-disabled='disabled'
              ng-model='modal.terminal'
              typeahead-wait-ms=250
              typeahead-editable=false
              typeahead-input-formatter='typeaheadTitle("terminal")'
              typeahead-template-url='/static/tpl/skuapso/typeahead.title.tpl.html'
              typeahead='i for i in data.terminals | toArray | filter:{title:$viewValue}'
            >
          </td>
        </tr>
      </table>
    </tab>
    <tab heading='Датчики'>
      Здесь должны быть датчики
    </tab>
    <tab heading='Репликация'>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type='button' class='btn btn-primary'
    ng-click="save()" ng-disabled='!diff() || disabled'>{{button.save}}</button>
  <button type="button" class="btn btn-default"
    ng-click="cancel()" ng-disabled='disabled'>{{button.close}}</button>
</div>
