<div class="modal-header">
  {{header}}<br>
  <b>{{title}}</b>
  <button type="button" class="close" ng-click="cancel()" ng-disabled='disabled'>
    <i class='glyphicon glyphicon-remove'></i>
  </button>
</div>
<div class="modal-body">
  <tabset>
    <tab heading='Общее'>
      <table>
        <tr>
          <td>Гос. номер</td>
          <td><input ng-model='modal.no' ng-disabled='disabled'></td>
        </tr>
        <tr>
          <td>Модель</td>
          <td>
            <select ng-model='modal.model'
              ng-disabled='disabled'
              ng-options='model.title for (id,model) in data.object_models'>
            </select>
          </td>
        </tr>
        <tr>
          <td>Специализация</td>
          <td>
            <select ng-model='modal.specialization'
              ng-disabled='disabled'
              ng-options='specialization.title for (id,specialization) in data.specializations'>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Группа</td>
          <td>
            <select ng-model='modal.group'
              ng-disabled='disabled'
              ng-options='group.title for (id,group) in data.groups'>
            </select>
<!--              <input ng-model='modal.group' typeahead-wait-ms=250 typeahead-editable=false
              typeahead='group as group.title for group in data.groups | toArray | orderBy:title | filter:{title:$viewValue} | limitTo:6'> -->
          </td>
        </tr>
        <tr>
          <td>Навигационный терминал</td>
          <td>
            <input ng-model='modal.terminal_id' ng-disabled='disabled'>
          </td>
        </tr>
      </table>
    </tab>
    <tab heading='Датчики'>
      Здесь должны быть датчики
    </tab>
    <tab heading='Репликация'>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type='button' class='btn btn-primary'
    ng-click="save()" ng-disabled='!diff() || disabled'>{{button.save}}</button>
  <button type="button" class="btn btn-default"
    ng-click="cancel()" ng-disabled='disabled'>{{button.close}}</button>
</div>
